# JWT Configuration
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Database
DB_URL=

# Password Reset
RESET_TOKEN_EXPIRE_MINUTES=

# Admin Account
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Email / SMTP Configuration
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=Fineto
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
